#button-register{
	width: 10em;
	height: 3em; 
	border-style: 
	double; 
	color: #004d99; 
	border-radius: 25px;
}

#button-sesion{
	width: 12em; 
	height: 3em;  
	color: #cfd8dc; 
	border-radius: 25px;
	background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%)
}


#button-sesion:hover { background-position: right center; }

#sess{
	background-color: #003366; 
	border-radius: 25px;"
}

