<!-- footer de portal -->
<footer class="page-footer" style="background-color: #3366CC;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
             	<h3 class="white-text">SIDEMEX IA</h3>
                <p class="grey-text text-lighten-4 flow-text">Sistema Inteligente de Incidencia Delictiva en México.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Recursos</h5>
               	<ul>
                  	<li><a class="grey-text text-lighten-3" href="/antecedentes-sidemexia">Antecedentes de SidemexIA</a></li>
                    <li><a class="grey-text text-lighten-3" href="/como-funciona">¿Cómo Funciona?</a></li>
                  	<li><a class="grey-text text-lighten-3 modal-trigger" href="#mRegister">Formulario de Registro</a></li>
                  	<li><a class="grey-text text-lighten-3 modal-trigger" href="#mlogin">Inicio de Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background-color: #326BA8;"">
        <div class="container">
        ©2021 Desarrollado por Estudiantes de la Universidad Autónoma de la Ciudad de México.
        <a class="grey-text text-lighten-4 right" target="_blank"  rel="noopener noreferrer" href="https://www.uacm.edu.mx/">UACM</a>
      	</div>
    </div>
</footer>
</body>
</html>
