<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/Assets/css/colours.css">
	<link rel="stylesheet" type="text/css" href="/Assets/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/Assets/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="/Assets/css/modals.css">
	<link rel="stylesheet" type="text/css" href="/Assets/css/index.css">
	<!--Import Google Icon Font-->
	<!-- Materialize icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<title>Sidemex IA</title>
    
</head>
<body>