<!-- Encabezado de navegación --> 
<nav class="header-color">
    <div class="nav-wrapper">
      	<img class="brand-logo" src="Assets/images/logo sidemex IA.png"  border="1" width="160" height="70">
      	<a href="#" data-target="mobile-demo" class="sidenav-trigger icon-menu-color"><i class="material-icons">menu</i></a>
      	<ul class="right hide-on-med-and-down">
        	<li><a class="text-color-header" href="#">cdsvxc</a></li>
        	<li><a class="text-color-header" href="#">Components</a></li>
        	<li><a href="#mRegister" class="waves-effect waves-blue btn white modal-trigger" id="button-register">Registrate<span></span></a></li>
        	<li><a href="#mlogin" class="waves-effect waves-light btn modal-trigger" id="button-sesion">Iniciar</a></li>
      	</ul>
    </div>
	
	<ul class="sidenav" id="mobile-demo">
    	<li><a href="sass.html">Sass</a></li>
    	<li><a href="badges.html">Components</a></li>
    	<li><a href="collapsible.html">Javascript</a></li>
	</ul>
</nav>

<script>
	$( document ).ready(function(){
		$('.sidenav').sidenav();
	});
</script>
