<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Import Google Icon Font-->
	<!-- Materialize icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Administrador SIDEMEXIA Sistema Inteligente de Incidencia Delictiva en México.">
    <title>SIDEMEXIA - Sistema Inteligente de Incidencia Delictiva en México.</title>
    <!-- Favicons-->
    <link rel="icon" href="Assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="Assets/images/favicon/apple-touch-icon-152x152.png">
    <!-- Para iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="Assets/images/favicon/mstile-144x144.png">
    <!-- CORE CSS-->
    <link href="Assets/css//materialize.css" type="text/css" rel="stylesheet">
    <link href="Assets/css//style.css" type="text/css" rel="stylesheet">
    <!-- CSS PERSONALIZADO-->
    <link href="Assets/css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- PLUGIN CSS INCLUIDO EN ESTA PÁGINA -->
    <link href="Assets/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="Assets/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">

	<title>Sidemex IA</title>
    
</head>
<body>