<!-- Encabezado de navegación --> 
<nav class="header-color">
    <div class="nav-wrapper">
      	<img class="brand-logo" id="logotipo" src="Assets/images/logo sidemex IA.png"  border="1" width="160" height="70">
      	<a href="#" data-target="mobile-demo" class="sidenav-trigger icon-menu-color"><i class="material-icons">menu</i></a>
      	<ul class="right hide-on-med-and-down">
			<li><a class="text-color-header" href="/"><i class="material-icons">home</i></a></li>
			<li><a class="text-color-header" href="/antecedentes-sidemexia">Antecedentes</a></li>
        	<li><a class="text-color-header" href="/como-funciona">¿Cómo Funciona?</a></li>
        	<!--<li><a href="#mRegister" class="btn white modal-trigger" id="button-register">Registrate<span></span></a></li>
        	<li><a href="#mlogin" class="btn modal-trigger flow-text" id="button-sesion">Iniciar</a></li>-->
			<a href="#mRegister" class="waves-effect waves-light btn white modal-trigger flow-text" id="button2-register"><i class="material-icons left">app_registration</i>Registrate</a>
			<a href="#mlogin" class="waves-effect waves-light btn modal-trigger flow-text" id="button2-sesion"><i class="material-icons left">account_circle</i>Iniciar Sesión</a>
      	</ul>
    </div>
	
	<ul class="sidenav" id="mobile-demo">
		<br/>
		<li><a class="text-color-header" href="/"><i class="material-icons">home</i></a></li>
		<li><a href="/antecedentes-sidemexia">Antecedentes</a></li>
		<li><a href="/como-funciona">¿Cómo Funciona?</a></li>
		<a href="#mRegister" class="waves-effect waves-light btn white modal-trigger flow-text" id="button2-register"><i class="material-icons left">app_registration</i>Iniciar Sesión</a>
			<a href="#mlogin" class="waves-effect waves-light btn modal-trigger flow-text" id="button2-sesion"><i class="material-icons left">account_circle</i>Iniciar Sesión</a>
	</ul>
</nav>

<script>
	$( document ).ready(function(){
		$('.sidenav').sidenav();
	});
</script>
