<div id="mRegister" class="modal">
    <div class="modal-content col s4">
        <div class="modal-header col s10" >
            <div class="center">
                <img id="cic-cloud-text" class="responsive-img" src="Assets/images/logo title.png"  width="93" height="79">
            </div>
        </div>
        <div class="modal-body col s12">  
            <div class="row">  
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input " type="text" class="validate" name="nombre" id="nreg"required="" >
                    <label for="nreg">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="lnreg" type="text" class="validate" name="apellido" required="" >
                    <label for="lnreg">Apellidos</label>
                </div>
            </div>
            <div class="row"> 
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    <input id="mailreg" type="text" class="validate" name="email" required="" placeholder="usuario@mail">
                    <label for="mailreg">E-mail</label>
                    <span class="helper-text" data-error="wrong" data-success="right" id="messgeCV"><center>Correo</center></span>
                </div>
            </div>
            <div class="row"> 
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="passreg" type="password" class="validate" name="contrasena" required="">
                    <label for="passreg">Contraseña</label>
                </div>
                <div id="res"></div>
            </div>
            <div class="modal-footer col s12">
                <button type="button" class="modal-close waves-effect waves-red btn pink darken-3">Cerrar</button>
                <button id="sendReg" class="waves-effect waves-light btn" style="background-color: #003366;">Enviar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.modal').modal();
        
        $('#sendReg').click( function(){
            let user = $("#nreg").val();
            let last_name = $("#lnreg").val();
            let mail = $("#mailreg").val();
            let pass = $("#passreg").val();
          
            if(user != "" && last_name != "" && mail!= "" && pass != ""){
               
           $.post("signin",{username:user, last_name:last_name,mail:mail,password:pass},function(data,status){
                if(data.status ==='done'){
                    $('#res').empty().html('<center><p>¡Registro exitoso!</p></center>');
                //window.location.href="/home";
                }else if (data.status === 'failed') {
                    $('#res').empty().html('<center><p>El usuario ya esta registrado</p></center>');
                }
            });
            }
        });
    });
</script>