<%- include('inc/head.ejs') %>
<%- include('inc/header.ejs') %>

<%- include('login.ejs') %>


<h1>Sidemex ia</h1>
<h1>Sidemex ia</h1>
<h1>Sidemex ia</h1>
<h1>Sidemex ia</h1>
<h1>Sidemex ia</h1>
<h1>Sidemex ia</h1>
<h1>Sidemex ia</h1>

<%- include('inc/footer.ejs') %>

